pip
{% if scaffoldrom.command_line_interface|lower == 'click' -%}
{% include 'click-requirements.jinja' %}{% endif %}
{% if scaffoldrom.use_pytest == 'y' -%}
{% include 'pytest-requirements.jinja' %}{% endif %}
